::import{"partials/top_nav"}endimport

{{define "content"}}

<main>

	<div class="row m-t-100 m-b-100" id="">
		<div class="col s12 m8 l4 col-horizontal-center">
			<div class="form-lostpassword">


            	<div class="row">
            		<div class="col s12 center">
                        {{template "logo-header" .}}
                    </div>
                </div>


				<div class="row">
					<div class="col s12 center">
						<h2 class="heading-main">{{TemplateFunctionTranslate "page_heading_lostpassword"}}</h2>
					</div>
				</div>
				<form enctype="multipart/form-data" action="" method="post" autocomplete="off" class="">

					<div class="row">
						<div class="col s12">
							{{.Form.Email}}
							<div>
								<button class="btn-register" type="submit">{{TemplateFunctionTranslate "form_caption_getNewPassword"}}</button>
							</div>
						</div>
					</div>

				</form>
	            <div class="small m-t-10">
	                <p>
	                    <a href="login">{{TemplateFunctionTranslate "message_signIn"}}</a>
	                </p>
	            </div>
			</div>

		</div>
	</div>
</main>

{{end}}
