::import{"partials/top_nav", "partials/slidenav_trigger_bar", "partials/allFlashMessages", "partials/flashMessageSuccess", "partials/flashMessageWarning", "partials/flashMessageError", "partials/flashMessageUncategorized", "partials/asideNavMenu"}endimport
::setLocalCSS{"css/dropzone-common.css"}endsetLocalCSS
{{define "content"}}

{{template "top-nav" .}}

<main class="background-g">
    <div class="row">
        
            
          </div>
        </div>
    </div>
</main>


{{end}}
