::import{"partials/top_nav", "partials/slidenav_trigger_bar", "partials/allFlashMessages", "partials/flashMessageSuccess", "partials/flashMessageWarning", "partials/flashMessageError", "partials/flashMessageUncategorized", "partials/asideNavMenu"}endimport

::setLocalJSForFooter{"js/lightbox.js"}endsetLocalJSForFooter


{{define "content"}}


{{template "top-nav" .}}

<main class="m-b-50">
    <div class="row">
        <div class="col s12 l10 col-horizontal-center">
            <div class="row">
                <div class="col s12">
                    <h2 class="heading-main">{{TemplateFunctionTranslate "page_heading_manage_my_reusable"}}</h2>
                </div>
            </div>

                     
            <div class="row">
                <div class="col s12">
                    {{template "allFlashMessages" .}}
                </div>
            </div>
            <div class="row m-t-5">
                <div class="col s12 right-align">
                    <a href="/reusables/add/" class="btn">{{TemplateFunctionTranslate "form_caption_reusablet_add"}}</a>
                </div>
            </div>
            <div class="row m-t-30">

                <div class="col s12">

                    {{if .Reusables}}
                  
                        <section class="list usagetype-list">
                            {{range $index, $item := .Reusables}}
                                <div class="row">
                                    <div class="col s12">
                                        <div class="card">
                                            <div class="card-content">
                                                <div class="content-left left">
                                                    <div class="image-placeholder">
                                                    <div class="lightbox">
                                                        <img 
                                                        id="reusable-img-{{.ReusablesId}}"
                                                        onerror="handleMissingImages(this)"        
                                                        data-name="{{.ReusableIamge}}"
                                                        data-type="reusable"
                                                        data-id="reusable-img-{{.ReusableId}}"
                                                        src="{{$.EnvConfVars.reusablesImgCDNPath_thumbnails}}/{{index $item $.KeysForIteration.Reusables_reusable_image}}">
                                              
                                                    </div>
                                                    </div>
                                                           </div>
                                                 <div class="card-header">

                                                    
                                                     <h6 class="">
                                                            {{index $item $.KeysForIteration.Reusables_name}}
                                                        </h6> 
                                                        <h8 class="">
                                                            reusable_code:  {{index $item $.KeysForIteration.Reusables_reusable_code}}
                                                        </h8> 
                                                      
                                                    </div>

                                                    <div class="left card-content-description">
                                                        
                                                        <div class="m-t-10 m-b-10">
                                                            <h6 class="m-b-5">
                                                                {{TemplateFunctionTranslate "form_label_Reusables_description"}} 
                                                            </h6>
                                                            <div>
                                                                {{if not (TemplateFunctionIsNullOrEmpty (index $item $.KeysForIteration.Reusables_description))}}
                                                                    <p id="desc-shorttext-{{index $item $.KeysForIteration.Reusables_id}}" class="trigger-fulltext toggle-text" data-idprefix="desc" data-id="{{index $item $.KeysForIteration.Reusables_id}}">{{TemplateFunctionSubStringWhitespaceSafe (index $item $.KeysForIteration.Reusables_description) 0 500 "..."}}</p>
                                                                    <p id="desc-fulltext-{{index $item $.KeysForIteration.Reusables_id}}" class="hide trigger-shorttext toggle-text" data-idprefix="desc" data-id="{{index $item $.KeysForIteration.Reusables_id}}">{{index $item $.KeysForIteration.Reusables_description}}</p>
                                                                {{else}}
                                                                    <p>Keine Angaben</p>
                                                                {{end}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content-menu">
                                                    <div>
                                                        <span class="">
                                                            <a href="/reusables/edit/{{index $item $.KeysForIteration.Reusables_id}}" id="trigger-delete-Reusables" class="btn-icon-round tooltipped" data-position="top" data-tooltip="Reusables bearbeiten">
                                                                <i class="material-icons">mode_edit_outline</i>
                                                            </a>
                                                            <a href="/reusables/delete/{{index $item $.KeysForIteration.Reusables_id}}" id="trigger-delete-Reusables" class="btn-icon-round danger tooltipped" data-position="top" data-tooltip="Reusables löschen">
                                                                <i class="material-icons">delete_outline</i>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{end}}
                        </section>
                    {{else}}
                        <div class="general-info-container">
                            Noch kein Reusables angelegt.
                        </div>
                    {{end}}
                </div>
            </div>
		</div>
    </div>
</main>
{{end}}
