<div class="input-field ##DECORATORCSS##">
	<div class="file-field input-field">
		<div class="btn">
			<span>##LABEL##</span>
			<input type="file" class="filestyle" 
					data-placeholder="##PLACEHOLDER##" 
					data-disabled="##DISABLED##" 
					data-btnClass="btn-secondary"
					data-text="##LABELADDITIONAL##"
					##CSS## id="##ID##"
					name="##NAME##">
		</div>
		<div class="file-path-wrapper">
			<input class="file-path validate" type="text">
		</div>
	</div>
	##HINTTEXT##
	##ERRORTEXT##
</div>