{{define "content"}}
<h1>500 Error Page #2</h1>
<p class="zoom-area"><b>OOPS!</b> It is ridiculous'en should not have happened. </p>
<p class="zoom-area"><b>Code:</b> {{.Error}} </p>
<section class="error-container">
  <span class="four"><span class="screen-reader-text">5</span></span>
  <span class="zero"><span class="screen-reader-text">0</span></span>
  <span class="four"><span class="screen-reader-text">0</span></span>
</section>
<div class="link-container">
  <a target="_blank" href="/" class="more-link">Try Home</a>
</div>
{{end}}