::import{"partials/top_nav", "partials/allFlashMessages", "partials/flashMessageSuccess", "partials/flashMessageWarning", "partials/flashMessageError", "partials/flashMessageUncategorized"}endimport



::setLocalJSForFooter{"js/show-hide-password.js"}endsetLocalJSForFooter


{{define "content"}}

{{template "top-nav" .}}


<main>
    <div class="row">

        <div class="col s12 m8 l4 col-horizontal-center">
            <div class="row">
                <div class="col s12">
                    <h2 class="heading-main">{{TemplateFunctionTranslate "page_heading_changepassword"}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <form enctype="multipart/form-data" action="" method="post" autocomplete="off" class="">
                        {{.Form.PresentPassword}}
                        {{.Form.NewPassword}}
                        {{.Form.PasswordRepeat}}
                        <div>
                            <button class="btn-register" type="submit">{{TemplateFunctionTranslate "form_caption_setNewPassword"}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{{end}}
