<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <style>
      ##CSS##
    </style>
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader">{{.Invitee_first_name}} responded to your invitation.</span>
            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p>Hey {{.Inviter_first_name}},</p>
                        <p>Hurra! {{.Invitee_first_name}} {{.Invitee_last_name}} has accepted your invitation.</p>
                        <p>Email: {{.Invitee_email}}</p>
                        <p>Organizer: {{.Company_name}}</p>

                        <p>Sincerely</p>
                        <p>PrimePort Team</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

            <!-- END MAIN CONTENT AREA -->
            </table>

            <!-- START FOOTER -->
            <div class="footer">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <p class="apple-link">You are receiving this email because you have an account in PrimePort.de.<br>
                    If you are not sure why you have received this email then please do not hesitate to contact us.</p>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <span class="apple-link">PrimePort GmbH, 3 Abbey Road, Berlin BA 10405</span>
                    <br> Report Spam <a mailto="spam@PrimePort.com">spam@PrimePort.com</a>.
                  </td>
                </tr>
                <tr>
                  <td class="content-block powered-by">
                    Powered by <a href="http://PrimePort.com">PrimePort.de</a>.
                  </td>
                </tr>
              </table>
            </div>
            <!-- END FOOTER -->

          <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
