::import{"partials/top_nav", "partials/allFlashMessages", "partials/flashMessageSuccess", "partials/flashMessageWarning", "partials/flashMessageError", "partials/flashMessageUncategorized"}endimport

::setLocalCSS{"css/dropzone-common.css"}endsetLocalCSS
::setExternalCSS{""}endsetExternalCSS
::setExternalJSForHeader{"https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"}endsetExternalJSForHeader
::setLocalJSForFooter{"js/handle-file-upload-dropzone.js"}endsetLocalJSForFooter
{{define "content"}}

{{template "top-nav" .}}


<script type="text/javascript">
         dropzoneFileUploadUrl = "/commonwebservices/uploadreusableimage/";
         dropzoneFileDeleteUrl = "/commonwebservices/deletereusableimage/";
    const dropzoneFileUploadParamName = "Reusable_image";
    const acceptedFileTypes = "image/*"

    {{if .ReusablesId}}
    
           formDataToSend = {'reusableid' : {{.ReusablesId}}};
          dropzoneFileDeleteUrl = "/commonwebservices/deletereusableimage/{{.ReusablesId}}";
          dropzoneFileUploadUrl = "/commonwebservices/uploadreusableimage/{{.ReusablesId}}";
    {{end}}

</script>


<main class="m-b-50">
    <div class="content-wrapper-before weusable-pink"></div>
   

    <div class="row">

        <div class="col s12 m10 l8 xl6 col-horizontal-center m-b-50">
            
            <div class="row m-b-10">

                <div class="col s12">
                    <div class="left">
                        <a href="/reusables/manage" class="strong">
                            <span class="material-icons small" style="vertical-align: middle;">arrow_back_ios</span>
                            {{TemplateFunctionTranslate "form_caption_goto_reusables"}}
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <h2 class="heading-main">
                        {{if .ReusablesId}}
                            {{TemplateFunctionTranslate "page_heading_reusables_edit"}}
                        {{else}}
                            {{TemplateFunctionTranslate "page_heading_reusables_add"}}
                        {{end}}
                    </h2>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                 
                    {{template "allFlashMessages" .}}
                </div>
            </div>
            
            <div class="container-table-bg">                   
            <div class="row">
                <div class="col s12">
                    <form enctype="multipart/form-data" action="" method="post" autocomplete="off" class="">
                        
                     
                        {{if .RestaurantId}}
                            <input type="hidden" name="reusableid" value="{{.ReusableId}}">
                        {{end}}
                        <section class="dropzone center-align m-b-30">
                            <div class="file-upload-preview-box">
                                <div class="file-upload-container dropzone-trigger">
                                    <div id="previews"><div id="dropzone-template"></div></div>

                                    <!-- file upload container --> 
                                    <div class="dropzone-cotainer-file-upload">
                                        {{if .ReusableImage}}
                                            <img
                                                id="reusable-img-{{.ReusablesId}}"
                                                onerror="handleMissingImages(this)"        
                                                data-name="{{$.EnvConfVars.fileServeCDNUrl}}{{.ReusableImage}}"
                                                data-type="reusable"
                                                data-id="reusable-img-{{.ReusableId}}"
                                                src="{{$.EnvConfVars.fileServeCDNUrl}}{{$.EnvConfVars.reusablesImgCDNPath_large}}/{{.ReusableImage}}"
                                            >
                                        {{end}}
                                    </div>
                                    <!-- end file upload container --> 

                                    <!-- background camera icon -->
                                    <div class='dropzone-container-background {{if (.ReusableImage)}}hide{{end}}'>
                                        <i class="material-icons large dropzone-trigger">add_a_photo</i>
                                        <p class="dropzone-trigger">Bild hier reinziehen oder klicken</p>
                                    </div>
                                    <!-- end background camera icon -->

                                    <!-- dragover template -->
                                    <div class="dropzone-container-dragover white-text hide">
                                        <div class="dropzone-container-dragover-content">
                                            <i class="material-icons medium">
                                            arrow_downward
                                            </i>
                                        </div>
                                    </div>
                                    <!-- end dragover template -->
                                    <div class="dropzone-container-error red-text hide">
                                        <div class="dropzone-container-error-content">
                                            <p><b>{{TemplateFunctionTranslate "error_generalError"}}</b></p>
                                            <p>{{TemplateFunctionTranslateFormat "form_error_invalid_upload_file" .EnvConfVars.profilepic_upload_size}}</p>
                                        </div>
                                    </div>

                                    <!-- dropzone container -->
                                    <div class="dropzone-container-dropper" id="fileUploadDropzone"></div>
                                    <!-- end dropzone container -->

                                </div>
                            </div>
                            
                            <div class="center-align">
                                <button 
                                id="trigger-delete-uploaded-image" 
                                class='btn-icon-round danger tooltipped {{if not (.ReusableImage)}} hide {{end}}' 
                                data-position="top" 
                                data-tooltip='{{TemplateFunctionTranslate "message_deleteImage"}}'>
                                 <i class="material-icons">delete_outline</i>
                                </button>
                            </div>
                        </section>

                        <section class="form-elements">
                            {{.Form.Name}}
                            {{.Form.Color}}
                            {{.Form.Reusable_code}}
                            {{.Form.Description}}
                        </section>
                        
                        <div class="m-t-20">
                            <a href="/reusables/manage" class="btn-cancel">{{TemplateFunctionTranslate "form_caption_cancel"}}</a>
                            <button class="btn" type="submit">
                               
                                    {{TemplateFunctionTranslate "form_caption_submit"}}

                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</main>

{{end}}
